
*{
    font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400&display=swap');

@media only screen and (min-width:100px) and (max-width:768px) {
.container{
    width: 90%;
    display: flex;
justify-content: space-between;
flex-direction: row-reverse;
padding: 15px;
}
.hamburguer{
    float: right;
    cursor: pointer;
    top: 2px;
position: relative;
}
.nav{
    list-style: none;
    float: right;
  padding: 10px;
  list-style: none;
float: right;
padding: 10px;

position: fixed;
right: -10px;
top: 0;
bottom: 0;
width: 55vw;
background-color: rgb(255, 255, 255);
padding: 1.25rem;
opacity: 1;
z-index: 99999999999;
margin: 0;
}
.view{
    display: none;
}
.close{
    right: -143px;
position: relative;

cursor: pointer;
}
.logo{
    cursor: pointer;

}
button{
    background-color: rgb(255, 139, 37);
    height: 35px;
    border-radius: 10px;
    width: 80px;
    font-weight: bold;
  cursor: pointer;
  border: 0;
}
button:hover{
    color: white;
}
.close-icon{
    display: none;
}

li{
    padding: 10px;
}
li:hover{
    color:  rgb(255, 139, 37) ;
}
.grid-container{
   width: 90%;
  
    margin: 7px;
     display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr ;
     
        grid-auto-flow: row;
        justify-items: center;
        grid-template-areas:
          "grid1"
        
          "grid2"
          "grid3"
          "grid4"
          "grid5"
          ;
          padding: 20px;
     
      }

h1{
    margin: 5px 0 10px 0;
    cursor: pointer;
width: 90%;
}
.grid1{
grid-area: grid1;
}
.grid2{
    grid-area: grid2;
}
.grid3{
    grid-area: grid3;
}
.grid4{
    grid-area: grid4;
}
.grid5{
    grid-area: grid5;
}

li{
    cursor: pointer;
}
.poster{
    margin-top: 35px;
}
img{
    max-width: 330px;
}
.preview{
    color: gray;
    width: 95%;
}
.flex{
    display: flex;
}
.avatar-1{
   max-height: 40px;
}  
h5{
   margin-top: 5px;
   margin-left: 5px;
}  
.charge{
    font-size: 12px;
    margin-top: -20px;
    margin-left: 5px;
}
footer{
    margin-top: 35px;
    margin-left: 20px;
}
.p-footer{
    margin: 0px 10px 0 10px;
    font-size: 15px;
    color: gray;
}
.logo{
    margin-left: 10px;
}
}

    
    

    @media only screen and (min-width:768px) and (max-width:1780px) {
    
        .grid-container{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                grid-template-areas:
                "grid1  grid1 grid1"
                "grid2 grid3 grid4";
               gap: 10px;
                margin: 20px 95px 0 100px;
        }
        .grid1{
            display: flex;
            justify-content: space-between;
            gap: 70px;
        }
        .poster1{
            max-width: 30%;
            max-height: 65%;
        }
        .grid1{
            grid-area: grid1;
            }
        .gr1{
                grid-area: gr1;
            }
        .grid2{
                grid-area: grid2;
            }
        .grid3{
                grid-area: grid3;
            }
        .nav{
            display: flex;
            justify-content: space-between;
           
           }
        .close{
            display: none;
           }
          
        .hamburguer{
            display: none;
        }
        
        
        
        button{
            background-color: rgb(255, 139, 37);
            height: 35px;
            border-radius: 10px;
            width: 80px;
            font-weight: bold;
          cursor: pointer;
          border: 0;
          top: -8px;
        
        position: relative;
        }
        .container{
            padding: 15px;
            width: 90%;
        }
        button:hover{
            color: white;
        }
        .nav{
            list-style: none;
        }
        .nav-menu{
            display: flex;
        justify-content: space-between;
      
        
        }
        li{
            padding: 10px;
        }
        li:hover{
            color:  rgb(255, 139, 37) ;
        }
        
        h1{
           
            cursor: pointer;
            padding-right: 65px;
  }
      
        li{
            cursor: pointer;
        }
        .poster{
            margin-top: 10px;
        }
        img{
            max-width: 330px;
        }
        .preview{
            color: gray;
            font-size: 15px;
      padding-right: 60px;
        }
        .flex{
            display: flex;
        }
        .avatar-1{
           max-height: 40px;
        }  
        h5{
           margin-top: 5px;
           margin-left: 5px;
        }  
        .charge{
            font-size: 12px;
            margin-top: -20px;
            margin-left: 5px;
        }
        
        .p-footer{
            margin: 0px 10px 0 10px;
            font-size: 15px;
            color: gray;
        }
        .foot{
            display: flex;
justify-content: space-between;
margin-right: 85px;
        }
        .logo{
            margin-left: 80px;
        }
    }
    
